@using Newtonsoft.Json;
@model MVC.ViewModels.BasketViewModels.BasketViewModel

@{
    ViewData["Title"] = "Basket";
}

<div style="height: 10px;background-color: black;"></div>
<div style="height: 20px;background-color: #d41824;"></div>
<div style="height: 10px;background-color: black;"></div>
<div class="container">
    <div class="text-center">
        <h1>Your Basket</h1>
    </div>

    @if (Model.BasketItems.Count() > 0)
    {
        var basketItems = Model.BasketItems;
 
        <div class="text-center mt-4 font-weight-bold">
            <h4>Total Cost: $ @Model.BasketItems.Sum(item => item.Price).ToString("N2")</h4>
        </div>

        <div class="esh-catalog-items">
            <div class="row">
                <div class="col-md-2 font-weight-bold h5">Item Code</div>
                <div class="col-md-6 font-weight-bold h5">Name</div>
                <div class="col-md-4 font-weight-bold h5">Price</div>
            </div>
            @foreach (var basketItem in Model.BasketItems)
            {
                <div class="row border-top">
                    <div class="col-md-2 font-weight-bold h5">#@basketItem.Id</div>
                    <div class="col-md-6 font-weight-bold h5">@basketItem.Name</div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4 font-weight-bold h5">$@basketItem.Price.ToString("N2")</div>
                            <div class="col-md-2">
                                <a class="esh-identity-item" href="@Url.Action("RemoveBasketItem", "Basket", new { id = basketItem.Id })">
                                    <div style="display: flex; align-items: center;">
                                        <img class="esh-identity-image" src="~/images/deleteBasket.png" alt="Remove">
                                        <span style="color: red; margin-left: 5px;">Delete</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-6 text-center">
                <a class="btn btn-primary border-dark text-white" href="@Url.Action("AddOrder", "Order", new { orderProductsJson = JsonConvert.SerializeObject(Model.BasketItems) })"><img src="~/images/accept.png" class="img-fluid" /> Confirm Order</a>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-md-6 text-center">
                <button class="btn btn-danger border-dark" onclick="location.href='@Url.Action("ClearBasket", "Basket")'"><img src="~/images/reject.png" class="img-fluid" /> Clear Basket</button>
            </div>
        </div>
    }
    else
    {
        <div class="esh-catalog-items">
            <p class="text-center">THERE ARE NO ITEMS IN BASKET</p>
        </div>
    }
</div>